

.wrapper{
    @extend %quicksand-500;
    color: $default;
    font-size: 16px;
    line-height: 26px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header--gray{
    background-color: $bg;
}

.title {
    @extend %roboto-700;
    color: $title;
    font-size: 48px;
    line-height: 26px;
    text-transform: uppercase;
}