$default: #8d8d8d;
$title: #29282d;
$accent: #fe3e57;
$bg: #f6f6f6;

%quicksand-400{
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

%quicksand-500{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

%roboto-400{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

%roboto-700{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

%btn{
    background-color: $accent;
    @extend %roboto-400;
    color: #fff;
    letter-spacing: 0.2em;
    padding: 19px 30px;
    box-shadow: 0px 10px 25px 0px rgba(254, 62, 87, 0.3);
}

  