@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.header {
    padding-top: 40px;
    padding-bottom: 40px;
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {}

    &__logo-img {}

    &__menu {}

    &__list {
        display: flex;
        gap: 37px;
    }

    &__item {
        padding: 0 3px 1px;
        @extend %roboto-400;
        border-bottom: 1px solid transparent;
        &:hover{
            border-bottom: 1px solid $accent;
            color: $accent;
            @extend %roboto-700;
        }

        &--active{
            border-bottom: 1px solid $accent;
            color: $accent;
            @extend %roboto-700;
        }
    }

    &__navigation {}

    &__icon {
        &:not(:last-child){
            margin-right: 25px;
        }
        position: relative;
    }

    &__count {
        position: absolute;
        background-color: $accent;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        color: #fff;
        font-size: 12px;
        line-height: 21px;
        top: -14px;
        right: -10px;
        text-align: center
    }
}

.main {
    flex: 1 1 auto;
}

.footer {
    background-color: $bg;
    &__container {}

    &__row {
        padding: 70px 0 40px;
        border-bottom: 1px solid #ececec;
        display: flex;
        gap: 30px;
    }

    &__column {}

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__bottom-copy {}

    &__bottom-row {
        display: flex;
        align-items: center;
        gap: 25px;
    }
}
.column-footer {
    width: 270px;
    padding-right: 30px;
    &__logo {
        display: block;
        margin-bottom: 30px;
    }

    &__address {
        margin-bottom: 15px;
        display: inline-block;
    }

    &__mail {
        margin-bottom: 15px;
        display: inline-block;
    }

    &__phone {
        margin-bottom: 35px;
        display: inline-block;
    }

    &__icons {
        display: flex;
        gap: 19px;
    }

    &__item {

    }

    &__link {
        path{
            fill: $default;
        }
        &:hover{
            path{
                fill: $accent;
            }
        }
    }
}
.column-links {
    width: 170px;
    &__title {
        @extend %roboto-400;
        font-size: 22px;
        color: #000;
        line-height: 30px;
        margin-bottom: 30px;
    }

    &__list {}

    &__item {
        &:not(:last-child){
            margin-bottom: 10px;
        }
    }
}
.column-account {
    width: 170px;
    &__title {
        @extend %roboto-400;
        font-size: 22px;
        color: #000;
        line-height: 30px;
        margin-bottom: 30px;
    }
}
.column-news {
    width: 470px;
    &__title {
        @extend %roboto-400;
        font-size: 22px;
        color: #000;
        line-height: 30px;
        margin-bottom: 30px;
    }

    &__text {
        margin-bottom: 25px;
    }

    &__form {}

    &__input {
        max-width: 320px;
        width: 100%;
        padding: 19px 17px;
        margin-right: 8px;
        box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);
    }

    &__btn {
        @extend %roboto-400;
        padding: 19px 25px;
        background-color: $accent;
        color: #fff;
        text-transform: uppercase;
        box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
    }
}

.slider {
    padding-bottom: 40px;
    background-color: $bg;
    background-image: url('../images/slider-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    &__container {
        max-width: 1520px;
    }

    &__row {
        padding-top: 70px;
    }

    &__inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__item {
        
    }

    &__content {
        padding-left: 165px;
    }

    &__title {
        @extend %roboto-700;
        font-size: 58px;
        line-height: 68px;
        color: $title;
        margin-bottom: 40px;
        width: 570px;
    }

    &__text {
        margin-bottom: 60px;
        max-width: 470px;
    }

    &__btn {
        @extend %btn;
        padding: 19px 35px;
    }

    &__img {}

    .slick-dots{
        margin-top: -74px;
        display: flex;
        justify-content: center;
        gap: 5px;
        li{
            button{
                background-color: transparent;
                font-size: 0;
                width: 30px;
                height: 30px;
                border: 1px solid transparent;
                border-radius: 50%;
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    top: 11px;
                    left: 11px;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: $default;
                }
            }
            &.slick-active{
                button{
                    border-color: $accent;
                    &::after{
                        background-color: $accent;
                    }
                }
            }
        }
    }
}

.categories {
    padding: 120px 0;
    background-image: url(../images/categories/left.png);
    background-repeat: no-repeat;
    background-position: center left;
    &__bg {
        background-image: url(../images/categories/right.png);
        background-repeat: no-repeat;
        background-position: center right;
    }

    &__container {}

    &__top {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        position: relative;
        margin-bottom: 120px;
        &::before{
            content: '';
            position: absolute;
            z-index: -1;
            top: -39px;
            left: -43px;
            width: 120px;
            height: 120px;
            background-image: url(../images/categories/circle.png);
        }
        &::after{
            content: '';
            position: absolute;
            z-index: -1;
            bottom: -20px;
            right: -20px;
            width: 65px;
            height: 52px;
            background-image: url(../images/categories/rect.png);
        }
    }

    &__column {
        background-color: #fff;
        padding: 60px 0 60px 40px;
        box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
    }

    &__title {
        text-align: center;
        margin-bottom: 30px;
    }

    &__subtitle {
        width: 570px;
        text-align: center;
        margin: 0 auto 60px;
    }

    &__gallery {
        display: grid;
        min-height: 635px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 30px;
    }
}
  
.column-categories {
    svg{
        margin-bottom: 40px;
    }
    &__title {
        @extend %roboto-400;
        color: $title;
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 20px;
    }

    &__text {}
}

.item-categories {
    padding: 40px 0 0 40px;
    &:nth-child(1){
        grid-row: span 2;
        h6{
            color: #5800e4;
        }
        a{
            &:hover{
                color: #5800e4;
            }
        }
    }
    &:nth-child(2){
        grid-column: span 2;
        padding-top: 110px;
        h6{
            color: #fe3e57;
        }
        a{
            &:hover{
                color: #fe3e57;
            }
        }
    }
    &:nth-child(3){
        h6{
            color: #ffb534;
        }
        a{
            &:hover{
                color: #ffb534;
            }
        }
    }
    &:nth-child(4){
        h6{
            color: #34c3ff;
        }
        a{
            &:hover{
                color: #34c3ff;
            }
        }
    }
    &__subtitle {
        margin-bottom: 5px;
    }

    &__title {
        @extend %roboto-500;
        color: $title;
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 10px;
    }

    &__link {
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }
}


.video {
    padding: 120px 0;
    background-color: $bg;
    background-image: url(../images/video-popup/pattern.svg);
    &__container {}

    &__row {
        display: flex;
        align-items: center;
    }

    &__popup {
        max-width: 535px;
        width: 100%;
        height: 479px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        margin-right: 64px;
    }

    &__play {}

    &__content {
        max-width: 570px;
    }

    &__subtitle {
        color: $accent;
        margin-bottom: 24px;
    }

    &__title {
        margin-bottom: 40px;
    }

    &__text {
        margin-bottom: 60px;
    }

    &__link {
        @extend %btn;
    }
}


.products {
    padding: 120px 0;
    text-align: center;
    position: relative;
    &::after{
        content: '';
        background-image: url(../images/products/bg.svg);
        background-repeat: no-repeat;
        position: absolute;
        top: 95px;
        right: 80px;
        width: 192px;
        height: 197px;
    }
    &__container {}

    &__title {
        text-align: center;
        margin-bottom: 25px;
    }

    &__text {
        max-width: 580px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 55px;
    }

    &__link {
        padding: 15px 25px;
        letter-spacing: 0.2em;
        color: $title;
        @extend %roboto-400;
        border: 1px solid #fe3e57;
    }
}

.products-items {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px 30px;
    margin-bottom: 65px;
    &__item {
        max-width: 370px;
        text-align: center;
        img{
            width: 100%;
        }
        &--sale{
            .products-items__img::before{
                content: 'SALE';
                position: absolute;
                top: 25px;
                left: 25px;
                @extend %btn;
                padding: 5px 10px;
                letter-spacing: 0.05em;
            }
        }
    }

    &__img {
        height: 370px;
        position: relative;
        overflow: hidden;
        margin-bottom: 25px;
        &:hover{
            .products-items__links{
                transform: translateY(0);
            }
        }
    }

    &__links {
        position: absolute;
        background-color: #fff;
        box-shadow: 0px 5px 30px 0px rgba(152, 152, 152, 0.2);
        border-radius: 21px;
        left: 0;
        right: 0;
        bottom: 50px;
        width: 212px;
        height: 50px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        transform: translateY(300%);
        transition: all 0.3s ease;
        a{
            padding-top: 5px;
            display: block;
        }
    }
      
    &__search {
        
        &:hover{
            .products-items__search--red{
                transition: all 0.3s ease;
                fill: $accent;
            }
        }
    }

    &__bag {
        position: relative;
        &::after,
        &::before{
            content: '';
            position: absolute;
            top: 0;
            width: 1px;
            height: 30px;
            background-color: #ececec;
        }
        &::after{
            right: -27px;
        }
        &::before{
            left: -27px;
        }
        &:hover{
            .products-items__bag--red{
                transition: all 0.3s ease;
                fill: $accent;
            }
        }
        
    }

    &__like {
        &:hover{
            .products-items__like--red{
                transition: all 0.3s ease;
                fill: $accent;
            }
        }
    }

    &__stars {
        margin: 0 auto 12px;
    }

    &__title {
        @extend %roboto-400;
        color: $title;
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 8px;
    }

    &__prices {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    &__price-new {
        @extend %roboto-500;
        color: $title;
    }

    &__price-old {
        color: #e0e0e2;
        text-decoration: line-through;
    }
}

.timer {
    background-image: url(../images/clock.jpg);
    padding: 160px 0;
    &__container {}

    &__content {
        max-width: 570px;
        width: 100%;
        margin-left: auto;
        text-align: center;
    }

    &__subtitle {
        font-size: 22px;
        color: $accent;
        margin-bottom: 25px;
    }

    &__title {
        margin-bottom: 60px;
    }

    &__clock {
        display: flex;
        justify-content: space-between;
    }

    &__item{
        background-color: #fff;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        box-shadow: 0px 10px 40px 0px rgba(187, 187, 187, 0.3);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 10px;
        span{
            @extend %roboto-700;
            color:  $title;
            font-size: 48px;
            margin-bottom: 10px;
        }
        margin-bottom: 60px;
    }

    &__link {
        border: 1px solid #fe3e57;
        padding: 15px 30px;
        @extend %roboto-400;
        letter-spacing: 0.2em;
        color: $title;
    }
}

.partners {
    padding: 120px 0;
    &__row{
        display: flex;
        justify-content: space-between;
    }
    &__item {
        img{
            width: 100%;
        }
    }
}

.blog {
    padding-bottom: 164px;
    background-image: url(../images/blog/bg.svg);
    background-repeat: no-repeat;
    background-position: center center;
    &__container {}

    &__title {
        text-align: center;
        margin-bottom: 25px;
    }

    &__text {
        max-width: 575px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 50px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        position: relative;
        &::after{
            content: '';
            background-image: url(../images/blog/decor.svg);
            background-repeat: no-repeat;
            position: absolute;
            z-index: -1;
            width: 126px;
            height: 53px;
            top: -27px;
            right: -24px;
        }
    }

    &__item {
        max-width: 370px;
        border: 1px solid #ececec;
        transition: all 0.5s ease;
        &:hover{
            border: none;
            box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
            .blog__link{
                color: $accent;
                &::after{
                    background-image: url(../images/blog/arrow-red.svg);
                }
            }
        }
    }

    &__img {
        img{
            width: 100%;
        }
    }

    &__content {
        padding: 30px 40px;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    &__autor::before,
    &__date::before {
        content: '';
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        position: absolute;
        left: -30px;
        top: 4px;
    }

    &__autor {
        margin-left: 30px;
        position: relative;
        &::before{
            background-image: url(../images/blog/user.svg);
        }
    }

    &__date {
        position: relative;
        &::before{
            background-image: url(../images/blog/clock.svg);
        }
    }

    &__subtitle {
        @extend %roboto-400;
        color: $title;
        font-size: 22px;
        margin-bottom: 5px;
        display: block;
    }

    &__link {
        display: inline-block;
        position: relative;
        transition: all 0.5s ease;
        &::after{
            content: '';
            background-image: url(../images/blog/arrow.svg);
            background-repeat: no-repeat;
            width: 10px;
            height: 8px;
            position: absolute;
            right: -14px;
            top: 10px;
        }
    }
}


@import 'media';
  