@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.header {
    padding-top: 40px;
    padding-bottom: 40px;
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {}

    &__logo-img {}

    &__menu {}

    &__list {
        display: flex;
        gap: 37px;
    }

    &__item {
        padding: 0 3px 1px;
        @extend %roboto-400;
        border-bottom: 1px solid transparent;
        &:hover{
            border-bottom: 1px solid $accent;
            color: $accent;
            @extend %roboto-700;
        }

        &--active{
            border-bottom: 1px solid $accent;
            color: $accent;
            @extend %roboto-700;
        }
    }

    &__navigation {}

    &__icon {
        &:not(:last-child){
            margin-right: 25px;
        }
        position: relative;
    }

    &__count {
        position: absolute;
        background-color: $accent;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        color: #fff;
        font-size: 12px;
        line-height: 21px;
        top: -14px;
        right: -10px;
        text-align: center
    }
}

.main {
    flex: 1 1 auto;
}

.footer {
    background-color: $bg;
    &__container {}

    &__row {
        padding: 70px 0 40px;
        border-bottom: 1px solid #ececec;
        display: flex;
        gap: 30px;
    }

    &__column {}

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__bottom-copy {}

    &__bottom-row {
        display: flex;
        align-items: center;
        gap: 25px;
    }
}
.column-footer {
    width: 270px;
    padding-right: 30px;
    &__logo {
        display: block;
        margin-bottom: 30px;
    }

    &__address {
        margin-bottom: 15px;
        display: inline-block;
    }

    &__mail {
        margin-bottom: 15px;
        display: inline-block;
    }

    &__phone {
        margin-bottom: 35px;
        display: inline-block;
    }

    &__icons {
        display: flex;
        gap: 19px;
    }

    &__item {

    }

    &__link {
        path{
            fill: $default;
        }
        &:hover{
            path{
                fill: $accent;
            }
        }
    }
}
.column-links {
    width: 170px;
    &__title {
        @extend %roboto-400;
        font-size: 22px;
        color: #000;
        line-height: 30px;
        margin-bottom: 30px;
    }

    &__list {}

    &__item {
        &:not(:last-child){
            margin-bottom: 10px;
        }
    }
}
.column-account {
    width: 170px;
    &__title {
        @extend %roboto-400;
        font-size: 22px;
        color: #000;
        line-height: 30px;
        margin-bottom: 30px;
    }
}
.column-news {
    width: 470px;
    &__title {
        @extend %roboto-400;
        font-size: 22px;
        color: #000;
        line-height: 30px;
        margin-bottom: 30px;
    }

    &__text {
        margin-bottom: 25px;
    }

    &__form {}

    &__input {
        max-width: 320px;
        width: 100%;
        padding: 19px 17px;
        margin-right: 8px;
        box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);
    }

    &__btn {
        @extend %roboto-400;
        padding: 19px 25px;
        background-color: $accent;
        color: #fff;
        text-transform: uppercase;
        box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
    }
}


.breadcrumbs {
    &__wide-container {
        max-width: 1700px;
        margin: 0 auto;
        padding: 125px 0 135px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        text-align: center;
    }

    &__container {}

    &__title {
        @extend %roboto-400;
        font-size: 48px;
        line-height: 1.2;
        color: #15181d;
        margin-bottom: 30px;
    }

    &__list {
        display: flex;
        justify-content: center;
        column-gap: 40px;
    }

    &__item {
        &:first-child{
            padding-left: 25px;
            position: relative;
            &::before{
                content: '';
                background-image: url(../images/home_icon.svg);
                position: absolute;
                width: 16px;
                height: 16px;
                left: 0;
                top: 3px;
            }
        }
        &:not(:last-child){
            position: relative;
            &::after{
                content: '';
                background-image: url(../images/angle_right.svg);
                position: absolute;
                width: 9px;
                height: 10px;
                right: -22px;
                top: 8px;
            }
        }
        &:last-child{
            .breadcrumbs__link{
                color: $accent;
            }
            
        }
    }

    &__link {
        color: #727272;
        line-height: 1.2;
    }
}


.slider {
    padding-bottom: 40px;
    background-color: $bg;
    background-image: url('../images/slider-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    &__container {
        max-width: 1520px;
    }

    &__row {
        padding-top: 70px;
    }

    &__inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__item {
        
    }

    &__content {
        padding-left: 165px;
    }

    &__title {
        @extend %roboto-700;
        font-size: 58px;
        line-height: 68px;
        color: $title;
        margin-bottom: 40px;
        width: 570px;
    }

    &__text {
        margin-bottom: 60px;
        max-width: 470px;
    }

    &__btn {
        @extend %btn;
        padding: 19px 35px;
    }

    &__img {}

    .slick-dots{
        margin-top: -74px;
        display: flex;
        justify-content: center;
        gap: 5px;
        li{
            button{
                background-color: transparent;
                font-size: 0;
                width: 30px;
                height: 30px;
                border: 1px solid transparent;
                border-radius: 50%;
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    top: 11px;
                    left: 11px;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: $default;
                }
            }
            &.slick-active{
                button{
                    border-color: $accent;
                    &::after{
                        background-color: $accent;
                    }
                }
            }
        }
    }
}

.categories {
    padding: 120px 0;
    background-image: url(../images/categories/left.png);
    background-repeat: no-repeat;
    background-position: center left;
    &__bg {
        background-image: url(../images/categories/right.png);
        background-repeat: no-repeat;
        background-position: center right;
    }

    &__container {}

    &__top {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        position: relative;
        margin-bottom: 120px;
        &::before{
            content: '';
            position: absolute;
            z-index: -1;
            top: -39px;
            left: -43px;
            width: 120px;
            height: 120px;
            background-image: url(../images/categories/circle.png);
        }
        &::after{
            content: '';
            position: absolute;
            z-index: -1;
            bottom: -20px;
            right: -20px;
            width: 65px;
            height: 52px;
            background-image: url(../images/categories/rect.png);
        }
    }

    &__column {
        background-color: #fff;
        padding: 60px 0 60px 40px;
        box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
    }

    &__title {
        text-align: center;
        margin-bottom: 30px;
    }

    &__subtitle {
        width: 570px;
        text-align: center;
        margin: 0 auto 60px;
    }

    &__gallery {
        display: grid;
        min-height: 635px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 30px;
    }
}
  
.column-categories {
    svg{
        margin-bottom: 40px;
    }
    &__title {
        @extend %roboto-400;
        color: $title;
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 20px;
    }

    &__text {}
}

.item-categories {
    padding: 40px 0 0 40px;
    &:nth-child(1){
        grid-row: span 2;
        h6{
            color: #5800e4;
        }
        a{
            &:hover{
                color: #5800e4;
            }
        }
    }
    &:nth-child(2){
        grid-column: span 2;
        padding-top: 110px;
        h6{
            color: #fe3e57;
        }
        a{
            &:hover{
                color: #fe3e57;
            }
        }
    }
    &:nth-child(3){
        h6{
            color: #ffb534;
        }
        a{
            &:hover{
                color: #ffb534;
            }
        }
    }
    &:nth-child(4){
        h6{
            color: #34c3ff;
        }
        a{
            &:hover{
                color: #34c3ff;
            }
        }
    }
    &__subtitle {
        margin-bottom: 5px;
    }

    &__title {
        @extend %roboto-500;
        color: $title;
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 10px;
    }

    &__link {
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }
}


.video {
    padding: 120px 0;
    background-color: $bg;
    background-image: url(../images/video-popup/pattern.svg);
    &__container {}

    &__row {
        display: flex;
        align-items: center;
    }

    &__popup {
        max-width: 535px;
        width: 100%;
        height: 479px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        margin-right: 64px;
    }

    &__play {}

    &__content {
        max-width: 570px;
    }

    &__subtitle {
        color: $accent;
        margin-bottom: 24px;
    }

    &__title {
        margin-bottom: 40px;
    }

    &__text {
        margin-bottom: 60px;
    }

    &__link {
        @extend %btn;
    }
}


.products {
    padding: 120px 0;
    text-align: center;
    position: relative;
    &::after{
        content: '';
        background-image: url(../images/products/bg.svg);
        background-repeat: no-repeat;
        position: absolute;
        top: 95px;
        right: 80px;
        width: 192px;
        height: 197px;
    }
    &__container {}

    &__title {
        text-align: center;
        margin-bottom: 25px;
    }

    &__text {
        max-width: 580px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 55px;
    }

    &__link {
        padding: 15px 25px;
        letter-spacing: 0.2em;
        color: $title;
        @extend %roboto-400;
        border: 1px solid #fe3e57;
    }
}

.products-items {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px 30px;
    margin-bottom: 65px;
    &__item {
        max-width: 370px;
        text-align: center;

        img{
            width: 100%;
        }
        &--sale{
            .products-items__img::before{
                content: 'SALE';
                position: absolute;
                top: 25px;
                left: 25px;
                @extend %btn;
                padding: 5px 10px;
                letter-spacing: 0.05em;
            }
        }
    }

    &__img {
        height: 370px;
        position: relative;
        overflow: hidden;
        margin-bottom: 25px;
        &:hover{
            .products-items__links{
                transform: translateY(0);
            }
        }
    }

    &__links {
        position: absolute;
        background-color: #fff;
        box-shadow: 0px 5px 30px 0px rgba(152, 152, 152, 0.2);
        border-radius: 21px;
        left: 0;
        right: 0;
        bottom: 50px;
        width: 212px;
        height: 50px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        transform: translateY(300%);
        transition: all 0.3s ease;
        a{
            padding-top: 5px;
            display: block;
        }
    }
      
    &__search {
        
        &:hover{
            .products-items__search--red{
                transition: all 0.3s ease;
                fill: $accent;
            }
        }
    }

    &__bag {
        position: relative;
        &::after,
        &::before{
            content: '';
            position: absolute;
            top: 0;
            width: 1px;
            height: 30px;
            background-color: #ececec;
        }
        &::after{
            right: -27px;
        }
        &::before{
            left: -27px;
        }
        &:hover{
            .products-items__bag--red{
                transition: all 0.3s ease;
                fill: $accent;
            }
        }
        
    }

    &__like {
        &:hover{
            .products-items__like--red{
                transition: all 0.3s ease;
                fill: $accent;
            }
        }
    }

    &__stars {
        margin: 0 auto 12px;
    }

    &__title {
        @extend %roboto-400;
        color: $title;
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 8px;
    }

    &__prices {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    &__price-new {
        @extend %roboto-500;
        color: $title;
    }

    &__price-old {
        color: #e0e0e2;
        text-decoration: line-through;
    }

    &__bottom-box{
        display: none;
    }
}

.timer {
    background-image: url(../images/clock.jpg);
    padding: 160px 0;
    &__container {}

    &__content {
        max-width: 570px;
        width: 100%;
        margin-left: auto;
        text-align: center;
    }

    &__subtitle {
        font-size: 22px;
        color: $accent;
        margin-bottom: 25px;
    }

    &__title {
        margin-bottom: 60px;
    }

    &__clock {
        display: flex;
        justify-content: space-between;
    }

    &__item{
        background-color: #fff;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        box-shadow: 0px 10px 40px 0px rgba(187, 187, 187, 0.3);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 10px;
        span{
            @extend %roboto-700;
            color:  $title;
            font-size: 48px;
            margin-bottom: 10px;
        }
        margin-bottom: 60px;
    }

    &__link {
        border: 1px solid #fe3e57;
        padding: 15px 30px;
        @extend %roboto-400;
        letter-spacing: 0.2em;
        color: $title;
    }
}

.partners {
    padding: 120px 0;
    &__row{
        display: flex;
        justify-content: space-between;
    }
    &__item {
        img{
            width: 100%;
        }
    }
}

.blog {
    padding-bottom: 164px;
    background-image: url(../images/blog/bg.svg);
    background-repeat: no-repeat;
    background-position: center center;
    &__container {}

    &__title {
        text-align: center;
        margin-bottom: 25px;
    }

    &__text {
        max-width: 575px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 50px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        position: relative;
        &::after{
            content: '';
            background-image: url(../images/blog/decor.svg);
            background-repeat: no-repeat;
            position: absolute;
            z-index: -1;
            width: 126px;
            height: 53px;
            top: -27px;
            right: -24px;
        }
    }

    &__item {
        max-width: 370px;
        border: 1px solid #ececec;
        transition: all 0.5s ease;
        &:hover{
            border: none;
            box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
            .blog__link{
                color: $accent;
                &::after{
                    background-image: url(../images/blog/arrow-red.svg);
                }
            }
        }
    }

    &__img {
        img{
            width: 100%;
        }
    }

    &__content {
        padding: 30px 40px;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    &__autor::before,
    &__date::before {
        content: '';
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        position: absolute;
        left: -30px;
        top: 4px;
    }

    &__autor {
        margin-left: 30px;
        position: relative;
        &::before{
            background-image: url(../images/blog/user.svg);
        }
    }

    &__date {
        position: relative;
        &::before{
            background-image: url(../images/blog/clock.svg);
        }
    }

    &__subtitle {
        @extend %roboto-400;
        color: $title;
        font-size: 22px;
        margin-bottom: 5px;
        display: block;
    }

    &__link {
        display: inline-block;
        position: relative;
        transition: all 0.5s ease;
        &::after{
            content: '';
            background-image: url(../images/blog/arrow.svg);
            background-repeat: no-repeat;
            width: 10px;
            height: 8px;
            position: absolute;
            right: -14px;
            top: 10px;
        }
    }
}

.login {
    padding: 120px 0;
    &__links {
        display: flex;
        column-gap: 40px;
        justify-content: center;
    }
    &__container{
        max-width: 570px;
        margin: 0 auto;
    }
    &__link {
        @extend %roboto-400;
        font-size: 22px;
        line-height: 1.2;
        color: #909090;
        margin-bottom: 50px;
    }

    &__link--active {
        color: $accent;
    }

    &__name {
        display: block;
        margin-bottom: 30px;
    }

    &__input {
        margin-top: 10px;
        width: 100%;
        height: 60px;
        background-color: #f6f6f6;
        padding: 0 15px;
    }

    &__text{
        margin: 25px 0;
    }

    &__remember {
        display: block;
        margin: 50px 0 10px;
        &--reg{
            margin: 0 0 10px;
        }
    }

    &__btn {
        width: 100%;
        padding: 20px 0;
        background-color: #292929;
        @extend %roboto-400;
        line-height: 1.2;
        letter-spacing: 0.2em;
        color: #ffffff;
        margin-bottom: 15px;
    }

    &__error {
        color: $accent;
    }
}

.page-404 {
    padding: 120px 0;
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__content {
        max-width: 570px;
    }

    &__title {
        color: #28384f;
        margin-bottom: 30px;
        text-transform: none;
    }

    &__text {
        max-width: 470px;
        margin-bottom: 55px;
    }

    &__link {
        @extend %btn;
        padding: 19px 35px;
    }

    &__img {}
}


.shop {
    padding: 120px 0;
    &__row {
        display: flex;
    }

    &__filters {
        width: 370px;
        margin-right: 30px;
    }
}

.filter {

    &__item {
        padding: 40px 30px;
        border: 1px solid #ececec;
        &:not(:last-child){
            margin-bottom: 40px;
        }
    }

    &__title {
        @extend %roboto-400;
        font-size: 22px;
        line-height: 1.2;
        text-transform: uppercase;
        color: $title;
        margin-bottom: 25px;
    }
}
.filter-search {

    &__title {}

    &__form {
        display: flex;
    }

    &__input {
        padding: 15px 15px;
        background-color: $bg;
        width: 280px;
    }

    &__btn {
        width: 50px;
        background-color: $accent;
        img{
            width: 15px;
            height: 15px;
        }
    }
}

.filter-price {

    &__input {
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }

    &__label {}

    &__from {}

    &__to {}

    &__btn {
        @extend %btn;
        padding: 12px 20px;
    }
}

.irs--flat .irs-line {
    top: 14px;
    height: 5px;
    background-color: #ececec;
    border-radius: 0;
}

.irs--flat .irs-bar {
    top: 14px;
    height: 5px;
    background-color: $accent;
}

.irs--flat .irs-handle {
    top: 0px;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    box-shadow: 0px 0px 13px 0px rgba(90,90,90,0.2);
}
.irs--flat .irs-handle>i:first-child {
    display: none;
}
.irs--flat .irs-min,
.irs--flat .irs-max
{
    display: none;
}
.irs--flat .irs-from,
.irs--flat .irs-to{
    display: none;
}

.filter-color {

    &__form {}

    &__label {
        display: flex;
        justify-content: space-between;
        &:not(:last-child){
            padding-bottom: 15px;
            border-bottom: 1px solid #ebebeb;
            margin-bottom: 15px;
        }
    }

    &__input {
        @extend %checkbox-hidden;
        &:checked + .filter-color__checkbox{
            background-image: url(../images/icons/check.svg);
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &__checkbox {
        position: absolute;
        margin-left: -16px;
        margin-top: 7px; 
        width: 16px;
        height: 16px;
        &--blue{
            background-color: #00aeef;
        }
        &--red{
            background-color: #f52574;
        }
        &--green{
            background-color: #24d4ac;
        }
        &--orange{
            background-color: #ff7e00;
        }
        &--black{
            background-color: #000000;
        }
        &--purple{
            background-color: #923899;
        }
    }
}

.filter-size {

    &__form {}

    &__label {
        display: block;
        position: relative;
        &:not(:last-child){
            margin-bottom: 15px;
        }
    }

    &__input {
        @extend %checkbox-hidden;
        &:checked + .filter-size__checkbox{
            background-image: url(../images/icons/checkmark.svg);
            border: none;
            & + .filter-size__text{
                color: $accent;
            }
        }
    }

    &__checkbox {
        position: absolute;
        top: 3px;
        width: 20px;
        height: 20px;
        border: 1px solid $default;
        border-radius: 50%;
    }

    &__text{
        padding-left: 35px;
    }
}

.filter-category {

    &__form {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }

    &__label{
        display: block;
    }

    &__input {
        @extend %checkbox-hidden;
        &:checked +.filter-category__box{
            background-color: $accent;
            color: #fff;
        }
    }

    &__box {
        background-color: $bg;
        display: flex;
        justify-content: space-between;
        padding: 15px 20px;
    }
}

.filter-popular {

    &__form {
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
        column-gap: 15px;
    }

    &__label{
        display: inline-block;
    }

    &__input {
        @extend %checkbox-hidden;
        &:checked +.filter-popular__box{
            background-color: $accent;
            color: #fff;
            border-color: $accent;
        }
    }

    &__box {
        padding: 12px 20px;
        border: 1px solid #8d8d8d;
    }
}

.shop-content {
    width: 100%;
    &__filter {
        margin-bottom: 40px;
    }

    &__filter-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #ebebeb;
        padding: 20px 30px;
    }

    &__filter-view {
        display: flex;
        align-items: center;
        gap: 15px;
        button{
            margin-top: 5px;
            background-color: transparent;
            &.shop-content__filter-view--active{
                path{
                    fill: $accent;
                }
            }
        }
    }
}

.jq-selectbox__select {
    padding-right: 30px;
    margin-left: 10px;
    border: none;
    background: transparent;
    box-shadow: none;
    color: $default;
    text-shadow: none;
    &:hover{
        background: transparent;
    }
}

.jq-selectbox__trigger {
    border-left: none;
}

.jq-selectbox__trigger-arrow {
    position: absolute;
    top: 14px;
    right: 12px;
    width: 10px;
    height: 5px;
    border: none;
    background-image: url(../images/shop/angle-down.svg);
}

.shop-content{
    &__inner{
        display: flex;
        flex-wrap: wrap;
        column-gap: 30px;
        row-gap: 40px;
        padding-bottom: 40px;
        border-bottom: 1px solid $bg;
    }
}

.products-items__item--list{
    min-width: 100%;
    display: flex;
    gap: 40px;
    border: 1px solid #ececec;
    border-left: none;
    .shop-content__inner{
        border-color: transparent;
    }
    .products-items__img{
        min-width: 200px;
        height: 250px;
        margin-bottom: 0;
        img{
            object-fit: cover;
            height: 250px;
        }
        width: 200px;
        &:hover{
            .products-items__links{
                transform: translateY(-70%);
            }
        }
    }
    .products-items__links{
        background-color: transparent;
        box-shadow: none;
        width: 114px;
        justify-content: space-between;
        .products-items__bag{
            display: none;
        }
        .products-items__search,
        .products-items__like{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    }
    .products-items__box{
        text-align: left;
        padding: 30px 40px 30px 0;
    }
    .products-item__top-box{
        max-width: 300px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .products-items__title{
        order: -1;
        margin-bottom: 10px;
    }
    .products-items__prices{
        order: -1;
        align-items: center;
    }
    .products-items__bottom-box{
        display: block;
        p{
            margin-bottom: 15px;
        }
    }
    .products-items__stars{
        margin: 3px 0 0 35px;
    }
    .products-items__price-old{
        padding-bottom: 3px;
    }
    .products-items__btn{
        @extend %btn;
        text-transform: none;
        padding: 15px 35px;
        letter-spacing: 0;
        box-shadow: none;
        background-color: $title;
        &:hover{
            background-color: $accent;
            box-shadow: 0px 10px 25px 0px rgba(254, 62, 87, 0.3);
        }
    }
}

.pagination {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 45px;

    &__list {
        display: flex;
        gap: 25px;
    }

    &__link--active {
        color: $accent;
    }
    &__prev,
    &__next {
        position: relative;
    }
    &__prev::before{
        content: '';
        position: absolute;
        width: 5px;
        height: 10px;
        left: -14px;
        top: 8px;
        background-image: url(../images/shop/angle_left.svg);
    }
    &__next::before{
        content: '';
        position: absolute;
        width: 5px;
        height: 10px;
        right: -14px;
        top: 8px;
        background-image: url(../images/shop/angle_right.svg);
    }
}

.shop-details {
    padding-top: 120px;
}

.card-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    &__photos {
        display: flex;
        gap: 30px;
        width: 730px;
    }

    &__column {}

    &__column-img {
        width: 140px;
        height: 140px;
        &:not(:last-child){
            margin-bottom: 30px;
        }
        img{
            width: 140px;
            height: 140px;
            object-fit: cover;
        }
    }

    &__main {
        width: 560px;
    }

    &__main-img {
        width: 560px;
        height: 650px;
        img{
            width: 560px;
            height: 650px;
        }
    }

    &__content {}
}
.content-card {
    max-width: 370px;
    &__title {
        @extend %roboto-500;
        font-size: 22px;
        color: $title;
        margin-bottom: 25px;
    }

    &__price-box {
        display: flex;
        justify-content: space-between;
    }

    &__prices {
        display: flex;
        gap: 15px;
    }

    &__price-new {
        color: $title;
        font-size: 18px;
    }

    &__price-old {
        color: #ccccce;
        font-size: 18px;
        text-decoration: line-through;
    }

    &__star-box {
        display: flex;
        align-items: center;
        font-size: 18px;
        color: $title;
        margin-bottom: 30px;
    }

    &__text {
        margin-bottom: 25px;
        span{
            @extend %roboto-400;
            font-size: 18px;
            color: $title;
            margin-bottom: 5px;
            display: inline-block;
        }
    }

    &__form {}

    &__color {
        margin-bottom: 25px;
    }

    &__color-title {
        @extend %roboto-400;
        font-size: 18px;
        color: $title;
    }

    &__color-label {
        &:not(:last-child){
            margin-right: 8px;
        }
    }

    &__color-input {
        @extend %checkbox-hidden;
        &:checked{
            & + .content-card__color-checkbox{
                border-color: $accent;
            }
        } 
    }

    &__color-checkbox {
        width: 24px;
        height: 24px;
        border: 1px solid #ccccce;
        display: inline-block;
        span{
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-left: 3px;
        }
    }

    &__size {
        margin-bottom: 25px;
    }

    &__size-title {
        @extend %roboto-400;
        font-size: 18px;
        color: $title;
    }

    &__size-label {
        &:not(:last-child){
            margin-right: 8px;
        }
    }

    &__size-input {
        @extend %checkbox-hidden;
        &:checked{
            & + .content-card__size-checkbox{
                border-color: $accent;
            }
        } 
    }

    &__size-checkbox {
        padding: 4px 12px;
        display: inline-block;
        border: 1px solid #ececec;
    }

    &__info {
        margin-bottom: 40px;
    }

    &__info-item {
        display: flex;
        &:not(:last-child){
            margin-bottom: 5px;
        }
    }

    &__info-title {
        @extend %roboto-400;
        font-size: 18px;
        color: $title;
        min-width: 100px;
        margin-right: 10px;
    }

    &__info-text {
        a{
            path{
                fill:  $default;
            }
            &:hover{
                path{
                    fill:  $accent;
                }
            }
        }
    }

    &__cart-box {}

    &__cart-input {}

    &__cart-btn {
        @extend %btn;
        padding: 18px 38px;
        text-transform: none;
        margin-left: 15px;
    }
}

.jq-number__field {
    width: 114px;
    height: 51px;
    border: 1px solid #ececec;
    border-radius: 0;
    box-shadow:none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    input{
        text-align: center;
    }
}

.jq-number {
    padding: 0;
}

.jq-number__spin {
    position: absolute;
    top: 0;
    width: 32px;
    height: 14px;
    border: none;
    border-radius: 4px;
    background: transparent;
    box-shadow: none;
    text-shadow: none;
    cursor: pointer;
    &:hover{
        background: transparent;
    }
}

.jq-number__spin.minus {
    top: 40%;
    left: 5px;
    &::after{
        top: 5px;
        width: 15px;
        height: 3px;
        background-color: $title;
        border: none;
    }
}
.jq-number__spin.plus {
    top: 40%;
    right: 10px;
    &::after{
        top: 5px;
        width: 15px;
        height: 3px;
        background-color: $title;
        border: none;
    }
    &::before{
        content: '';
        position: absolute;
        top: -1px;
        right: 12px;
        width: 3px;
        height: 15px;
        background-color: $title;
        border: none;
    }
}

.slick-vertical .slick-slide{
    height: 170px;
}

.shop-tabs {
    margin-bottom: 65px;
    padding-bottom: 60px;
    border-bottom: 1px solid #ececec;
    &__top {
        padding-bottom: 12px;
        border-bottom: 1px solid #ececec;
        margin-bottom: 40px;
    }

    &__tab {
        @extend %roboto-400;
        font-size: 22px;
        display: inline-block;
        margin-right: 55px;
        position: relative;
    }

    &__tab--active {
        color: $title;
        &::after{
            content: '';
            position: absolute;
            bottom: -14px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $accent;
        }
    }

    &__content {
        display: none;
        &--active{
            display: block;
        }
    }

    &__item {
        display: flex;
        gap: 30px;
        &:not(:last-child){
            margin-bottom: 40px;
        }
    }

    &__img {}

    &__column {}

    &__topbox{
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;
    }

    &__info {
        display: flex;
        gap: 15px;
    }

    &__name {
        @extend %roboto-400;
        color: $title;
        padding-right: 16px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            right: 0;
            top: 6px;
            width: 1px;
            height: 14px;
            background-color: $default;
        }
    }

    &__date {}

    &__star {
        margin-top: 8px;
    }

    &__text {
        margin-bottom: 12px;
    }

    &__reply {
        padding-left: 23px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            left: 0;
            top: 3px;
            width: 15px;
            height: 14px;
            background-image: url(../images/shop-details/tabs/replay.svg);
        }
    }
}

.shop-comments {

    &__title {
        @extend %roboto-400;
        font-size: 22px;
        color: $title;
        padding-bottom: 15px;
        position: relative;
        margin-bottom: 40px;
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 50px;
            height: 3px;
            background-color: $accent;
        }
    }

    &__form {}

    &__title-rating {
        @extend %quicksand-400;
        color: $title;
        margin-right: 60px;
    }

    &__label {
        margin-right: 25px;
    }

    &__input {
        @extend %checkbox-hidden;
        &:checked + .shop-comments__checkbox{
            path{
                fill: #ffc35b;
            }
        }
    }

    &__checkbox {
        path{
            fill: $default;
        }
    }

    &__inputbox {
        margin: 30px 0;
        display: flex;
        justify-content: space-between;
        input{
            border: 1px solid #ececec;
            width: 570px;
            padding: 20px;
        }
    }

    &__textarea {
        resize: none;
        border: 1px solid #ececec;
        width: 100%;
        height: 225px;
        padding: 20px;
        margin-bottom: 40px;
    }

    &__btn {
        @extend %btn;
    }
}


.related {
    padding-bottom: 120px;
    &__container {}

    &__title {
        text-align: center;
        line-height: 40px;
        margin-bottom: 55px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
    }
    .products-items__item{
        max-width: 271px;
    }
    .products-items__img{
        height: 271px;
        position: static;
        margin-bottom: 15px;
    }
    .products-items__title{
        font-size: 18px;
    }
}

.blog-page {
    padding: 120px 0;
    &__container {}

    &__row {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    &__content {
        max-width: 770px;
    }

    &__item {
        transition: all 0.3s ease;
        &:not(:last-child){
            margin-bottom: 60px;
        }
        &:hover{
            box-shadow: 0px 20px 60px 0px rgba(202,202,202,0.34);
            .blog-page__title{
                color: $accent;
            }
        }
    }

    &__img {
        display: block;
        max-width: 770px;
        img{
            width: 100%;
            object-fit: cover;
        }
    }

    &__box{
        padding: 40px;
        border: 1px solid #ececec;
        border-top: none;
    }

    &__title {
        display: block;
        @extend %roboto-500;
        font-size: 22px;
        line-height: 32px;
        color: $title;
        margin-bottom: 25px;
        transition: all 0.3s ease;
    }

    &__info {
        justify-content: start;
        gap: 63px;
    }

    &__item--video {}

    &__video {
        height: 450px;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__item--slider {}

    &__slider {
        .slick-prev,
        .slick-next{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $accent;
            box-shadow: 0px 7px 20px 0px rgba(254,62,87,0.3);
            svg{
                path{
                    fill: #fff;
                }
            }
            position: absolute;
            z-index: 2;
            top: 50%;
            transform: translateY(-50%);
        }

        .slick-prev{
            left: 40px;
        }
        .slick-next{
            right: 40px;
        }
        .slick-disabled{
            background-color: #ffffff;
            box-shadow: 0px 7px 20px 0px rgba(168,168,168,0.3);
            svg{
                path{
                    fill: $accent;
                }
            }
        }
    }

    &__item--noimg {
        border-top:  1px solid #ececec;
    }

    &__filters{
        max-width: 370px;
    }
    .filter-seo{
        text-align: center;
        &__img{
            width: 160px;
            height: 160px;
            margin: 0 auto;
            margin-bottom: 40px;
            img{
                width: 100%;
                object-fit: cover;
            }
        }
        &__name{
            @extend %roboto-700;
            color: $title;
            font-size: 18px;
        }
        &__prof{
            color: $accent;
            margin-bottom: 20px;
        }
        &__text{
            margin-right: -4px;
            margin-bottom: 25px;
        }
        &__links{
            a{
                margin-right: 10px;
                svg{
                    path{
                        transition: all .3s ease;
                        fill: $default;
                    }
                }
                &:hover{
                    svg{
                        path{
                            fill: $accent;
                        }
                    }
                }
            }
        }
    }
    .filter-post{
        &__title{
            @extend %roboto-400;
            font-size: 22px;
            line-height: 1.2;
            text-transform: uppercase;
            color: $title;
            margin-bottom: 35px;
        }
        &__item{
            &:not(:last-child){
                padding-bottom: 20px;
                border-bottom: 1px solid #ececec;
                margin-bottom: 20px;
            }
            display: flex;
            gap: 20px;
        }
        &__img{
            display: block;
            width: 80px;
            height: 80px;
            img{
                width: 80px;
                object-fit: cover;
            }
        }
        &__name{
            display: block;
            @extend %roboto-400;
            font-size: 18px;
            color: $title;
            margin-bottom: 5px;
        }
        .blog__date{
            margin-left: 30px;
        }
    }
}

.blog-one {

    &__content {}

    &__article {
        border: 1px solid #ececec;
        border-top:  none;
        margin-bottom: 30px;
    }

    &__inner{
        padding: 30px;
    }

    &__img {
        max-width: 770px;
        img{
            width: 100%
        }
    }

    &__info {
        display: flex;
        gap: 30px;
        margin-bottom: 25px;
    }

    &__date,
    &__comments,
    &__autor{
        position: relative;
        padding-left: 26px;
        &::before{
            content: '';
            left: 0;
            top: 3px;
            width: 16px;
            height: 16px;
            position: absolute;
        }
    }
    &__date {
        &::before{
            background-image: url(../images/blog-page/Calender.svg);
        }
    }
    &__comments {
        &::before{
            top: 5px;
            background-image: url(../images/blog-page/Comment.svg);
        }
    }

    &__autor {
        &::before{
            background-image: url(../images/blog-page/User.svg);
        }
    }

    &__text {
        h6{
            @extend %roboto-500;
            font-size: 22px;
            line-height: 1.2;
            color: $title;
            margin-bottom: 20px;
        }

        blockquote{
            @extend %roboto-400;
            font-size: 22px;
            color: $title;
            background-color: $bg;
            padding: 40px;
            border-left: 3px solid $accent;
            margin: 35px 0;
        }
        p{
            &:not(:last-child){
                margin-bottom: 35px;
            }
           
        }
    }

    &__text-img {
        float: left;
        margin-right: 30px;
        max-width: 340px;
        height: 274px;
        object-fit: cover;
    }
    
    &__tags{
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    &__tag{
        span{
            color: $title;
            margin-right: 5px;
        }
    }
    &__share{
        span{
            color: $title;
            margin-right: 5px;
        }
        a{
            vertical-align: middle;
            &:not(:last-child){
                margin-right: 10px;
            }
            path{
                fill: $default;
            }
            &:hover{
                path{
                    fill: $accent;
                }
            }
        }
    }
    &__creator{
        display: flex;
        gap: 30px;
        padding-bottom: 40px;
        border-bottom: 1px solid #ececec;
        margin-bottom: 40px;
    }
    &__creator-img{
        width: 140px;
        height: 140px;
    }
    &__creator-title{
        @extend %roboto-500;
        font-size: 22px;
        color: $title;
        margin-bottom: 25px;
    }
    &__feedback{
        padding-bottom: 40px;
        border-bottom: 1px solid #ececec;
        margin-bottom: 40px;
    }
    &__feedback-title{
        @extend %roboto-700;
        font-size: 24px;
        color: $title;
        margin-bottom: 30px;
    }
    &__reply-title{
        @extend %roboto-700;
        font-size: 24px;
        color: $title;
        margin-bottom: 30px;
    }
    &__reply{
        input{
            max-width: 370px;
        }
        textarea{
            height: 220px;
        }
    }
}

.map {
    padding: 120px 0;
}

.contact {
    padding-bottom: 120px;
    &__row {
        display: flex;
        gap: 40px;
    }

    &__content {
        max-width: 370px;
    }

    &__title {
        @extend %roboto-700;
        font-size: 48px;
        line-height: 58px;
        color: $title;
        margin-bottom: 25px;
    }

    &__text {
        margin-bottom: 60px;
    }

    &__info {
        color: $title;
        max-width: 300px;
    }

    &__mobile,&__address,&__mails {
        padding-left: 80px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            left: 0;
            top: -5px;
            width: 60px;
            height: 60px;
            background-color: #ffffff;
            box-shadow: 0px 5px 20px 0px rgba(146,146,146,0.3);
        }
    }
    &__mobile,&__address,&__mails {
        &::after{
            content: '';
            position: absolute;
            left: 21px;
            top: 13px;
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
        }
    }

    &__mobile{
        margin-bottom: 60px;
        a{
            display: block;
        }
        &::after{
            background-image: url(../images/contact/phone_icon.svg);
        }
    }
    &__address {
        margin-bottom: 60px;
        &::after{
            background-image: url(../images/contact/1.svg);
        }
    }

    &__mails {
        &::after{
            background-image: url(../images/contact/Shape1.svg);
        }
    }

    &__form {
        width: 770px;
        padding: 60px 40px;
        background-color: #ffffff;
        box-shadow: 0px 10px 40px 0px rgba(172,172,172,0.3);
        input{
            background-color: $bg;
            padding: 23px;
            width: 100%;
        }
        textarea{
            background-color: $bg;
            padding: 23px;
            width: 100%;
            height: 200px;
            margin: 30px 0;
            resize: none;
        }
    }

    &__form-title {
        @extend %roboto-700;
        font-size: 22px;
        color: $title;
        margin-bottom: 30px;
    }

    &__box {
        display: flex;
        gap: 30px;
        margin-bottom: 30px;
        input{
            max-width: 330px;
        }
    }

    &__btn {
        @extend %btn;
    }
}


@import 'media';